<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="icons/apple-touch-icon.png") | safe }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="icons/favicon-32x32.png") | safe }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="icons/favicon-16x16.png") | safe }}" />
    <link rel="manifest" href="{{ get_url(path="icons/site.webmanifest") | safe }}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />

    <title>Bruner Family Home</title>
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>

</html
