{% extends "base.html" %}

{% block content %}
<div class="flex p-8 justify-center">
  <div class='text-2xl'>Hello from the Bruner family!</div>
</div>  
<div class="flex p-2 justify-center">
  A brief history of Reema and Colin:
</div>
<div class="flex p-2 justify-center">
  <ul class="w-3/5 text-sm font-medium list-disc list-inside">
    <li class="w-full px-4 py-1">Met in Arlington VA, and started dating in 2019</li>
    <li class="w-full px-4 py-1">Got engaged at the end of 2020</li>
    <li class="w-full px-4 py-1">Were married a few years later just outside of Chicago in 2022</li>
    <li class="w-full px-4 py-1">Bought a house and moved to the Chicago suburbs in 2023</li>
  </ul>
</div>
{% endblock content %}
